---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<div class="footer_site">
<hr/>
<div class="visit-counter">
  <span class="visit-counter__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
  <span class="visit-counter__label">Total Visits:</span>
  <span class="visit-counter__value" id="site-views">10000</span>
  <span id="busuanzi_value_site_pv" style="display: none;"></span>
</div>
<!-- <div class="footer_copyright">
  © 2022 华中大 · 唐健 | 基于&nbsp
  <a class="page_a"  href="https://github.com/RayeRen/acad-homepage.github.io">
  acad
  </a>&nbsp模板
</div> -->
</div>
  </body>
</html>
